<!doctype html>
<html>
<head>
    <title>TCC - Identificando Coorelações entre sua Personalidade e as Músicas que vocês escuta.</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> TCC - Identificando Correlações entre sua Pegada Digital e as Músicas que você escuta no Spotify.</h1>

        <!-- <p>1º Passo: Logue inicialmente com o Facebook, e aguarde até a bolinha do navegador parar de rodar.</p>
        <p>2º Passo: Após logar com o FB, Logue com o spotify.</p>
 -->
        <p> 1º Passo nos identificamos sua personalidade através da sua Pegada Digital, que nada mais é do que analisar suas postagens e páginas que você curtiu. Para me ajudar basta você logar com sua conta do Facebook.</p>
        <p> Podemos demorar um pouco para lhe encaminhar para próxima página, pois estamos analisando sua pegada digital.</p>
        <p> Não se preocupe, essas informações só serão usadas para fins Acadêmicos, se quiser saber um pouco mais sobre a pesquisa entra em contato comigo no e-mail: delandosmjunior@gmail.com .</p>

        <a href="login/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <!-- <a href="login/auth/spotify" class="btn btn-success"><span class="fa fa-spotify"></span> Spotify</a> -->
        

    </div>

</div>
</body>
</html>   
